body {
  background-color: black;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-image: image-url("ida.png");
  background-repeat: no-repeat;
  background-size: 50% auto;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#title-headline {
  color: white;
  margin-right: 4%;
  margin-top: 2em;
  text-align: right;
}

#title-subhead {
  color: white;
  margin-right: 4%;
text-align: right;
}

td, th {
  background-color: black;
  color: white;
  border-top: 1px dashed white;
  border-right: 1px dashed white;
  padding: 3px;
  text-align: center;
}

table {
  width: 50%;
  margin-top: 10em;
  margin-right: 4%;
  margin-left: auto
}